.content{ /*make the background color*/
    background-color: #f0f0f0;
    width: 90%;
    margin: 0 auto;
    padding: 20px; /* Add some space above the body content */
}

body {
    font-family: Arial, sans-serif; /* Set a default font*/
    font-size: 16px; 
    color: #333; 
}

.container1 { /*This is for the banner*/
    background-image: url('/images/banner.jpg');
    background-size: cover;
    background-position: center;
    text-align: center; /* Center the content horizontally */
    color: #fff; /* Text color on the background image */
    padding: 80px 0; /*Shows more of the image*/
}

/* Horizontal navigation bar styles */
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    background-color: #00cc00; /* Background color for the navigation bar */
    padding: 0 0;
    margin-top: 0;
    margin-bottom: 0;
}

nav{
    border-style: solid;
    border-color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #fff; /* Text color for the navigation links */
    display: block;
    padding: 15px 20px;
    transition: background-color 0.3s; /* Smooth color transition on hover */
}

nav a:hover {
    background-color: #00aaff; /* Background color on hover */
}

section:nth-child(odd){
    background-color: #ffffff;
}

section *{
    margin: 0;
}

.content_title{
    font-weight: 600;
}

.news-container {
    display: flex;
}

.news-item {
    margin: 10px; /* Add some margin for spacing */
}


